@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "pages/home.scss";
html {
    scroll-behavior: smooth;
    body {
        background-image: url("/img/background.svg");
        margin: 0;
    }
}
